minilibx-linux/*
minilibx_opengl_20191021/*
*.cub
minilibx-linux
*.tgz
*.exe
cube3D
*.o
*.a
build/*
.vscode/*
tests/test
c_formatter_42/
Dockerfile
.dockerignore
libft/tests/test
libft/norminette_log.txt
sources/norminette_log.txt
