minilibx-linux/*
minilibx_opengl_20191021/*
get_next_line/*
*.cub
*.tgz
*.exe
cube3D
*.o
*.a
build/*
.vscode/*
tests/test
c_formatter_42/
Dockerfile
.dockerignore
minilibx_opengl_20191021/*
minilibx-linux/*
minilibx-linux
libft/tests/test
libft/norminette_log.txt
sources/norminette_log.txt
